form {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

h1 {
  margin-top: 1.25rem;
  font-size: 1.12rem;
  font-weight: 700;
  color: #444444;
}

mat-form-field {
  color: #a8a8a8;
  cursor: pointer;
}

mat-icon {
  color: #a8a8a8;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

button {
  width: 11.25rem;
  height: 2.5rem;
  font-size: 1.12rem;
}
