table {
  width: 100%;
  background-color: none;
  margin-top: 19px;
}

.mat-header-cell {
  color: #A8A8A8;
  font-weight: 700;
  font-size: .75rem;
}

.mat-cell {
  color: #444444;
  font-size: .75rem;
}

tr:nth-child(2n) {
  background-color: #F8F8F8;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: none;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: .5rem;
}

.th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}

.mat-column-actions{
  width: 115px;
}

.mat-column-ESPECIALIDADE, .mat-column-DATA, .mat-column-PROFISSIONAL, .mat-column-DATA{
  width: 200px
}

tr.mat-row {
  height: 2rem;
}

tr.mat-header-row {
  height: 25px;
}

///// BUTTONS
.delete {
  color: #ec5853;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: .63rem;
  margin-left: 2.65rem;
  font-weight: 400;

  transition: background-color .2s;

  &:hover {
    background-color: #D9F1F3;
  }

}

