<div class="main">
  <h1 mat-dialog-title>Nova Consulta</h1>
  <!-- ESPECIALIDADES -->
  <form class="form">
    <mat-form-field appearance="outline">
      <mat-label>Especialidade</mat-label>
      <mat-select (selectionChange)="handleSpecialty($event.value)">
        <mat-option></mat-option>
        <mat-option
          *ngFor="let especialidade of especialidades"
          [value]="especialidade.nome"
          (click)="doctorsFiltered.length <= 0 ? temMedico = true : temMedico = false"
        >
          {{ especialidade.nome }}
        </mat-option>

      </mat-select>

    </mat-form-field>
    <mat-error *ngIf="temMedico"
      >Nenhum médico disponível para essa especialidade</mat-error>

    <!-- MEDICO -->
    <mat-form-field appearance="outline">
      <mat-label>Médico</mat-label>
      <mat-select
        [disabled]="doctorsFiltered.length <= 0"
        (selectionChange)="handleDoctor($event.value)"
      >
        <mat-option></mat-option>

        <mat-option *ngFor="let doctor of doctorsFiltered" [value]="doctor.id">
          {{ doctor.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <!-- DATA -->
    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <mat-select
        [disabled]="agendasFiltered.length <= 0"
        (selectionChange)="handleData($event.value)"
        [(ngModel)]="appointment.agenda_id"
        name="data"
      >
        <mat-option></mat-option>
        <mat-option *ngFor="let agenda of agendasFiltered" [value]="agenda.id">
          {{ agenda.dia | date: "dd/MM/yyyy" }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- HORÁRIO -->
    <mat-form-field appearance="outline">
      <mat-label>Hora</mat-label>
      <mat-select
        [disabled]="schedule.length <= 0"
        [(ngModel)]="appointment.horario"
        (selectionChange)="habilitarForm()"
        name="horario"
      >
        <mat-option></mat-option>
        <mat-option *ngFor="let horario of schedule" [value]="horario">
          {{ horario }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- BUTTONS -->
    <div class="buttons">
      <button class="cancel" (click)="handleClose()">Cancelar</button>
      <button class="confirm" type="submit" [disabled]="habilitarButton" (click)="handleSubmit()">
        Confirmar
      </button>
    </div>
  </form>
</div>
